:root{
  --lilas: #c2c2d6;
  --vermelho: #ac3939;
  --azul: #004466;
  --azulEscuro: #131350;
  --laranja: #ffa500;
  --cinzaClarissimo: #aaaaaa;
  --cinzaClaro: #666666;
  --cinzaEscuro: #4d4d4d;
  --preto: #000000;
  --branco: #ffffff;
}

*{
  font-family: 'Barlow Condensed', sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--lilas);
}

#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calculadora{
  background-color: var(--preto);
  color: var(--branco);
  width: 300px;
  padding: 5px;
  border: 2px solid var(--cinzaEscuro);
}

footer{
  color: var(--cinzaEscuro);
  text-align: center;
}

footer p{
  margin: 20px 0 5px 0;
}

a{
  color: var(--azulEscuro);
  text-decoration: none;  
}

#big-display{
  word-wrap: break-word;
}

.sub-display{
  margin: 0;
  min-height: 20px;
  text-align: right;
}

#acumulado{
  color: var(--laranja);
  font-size: 1.3rem;
}

#display{
  font-size: 1.9rem;
}
